.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: white;
}

.topBanner {
  /* border: 4px solid red; */
  position: sticky;
  display: flex;
  top: 0;
  align-items: center;
  width: 100%;
  height: 8vh;
  z-index: 3;
  background-color: rgb(114, 114, 243);
  justify-content: space-between;
}

.connect {
  padding: 10px;
  /* border: 2px solid green; */
}

.polyLogo {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-size: x-large;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.25em;
}

.selectionContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: calc(100vw / 2.7);
  margin-top: 100px;
  justify-content: center;
  height: 60vh;
  width: 25vw;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 2em;
}

.mintButton {
  position: absolute;
  bottom: 30px;
}

.zodiacSelection {
  position: absolute;
  top: 30px;
}

.nftPreview {
  position: absolute;
  bottom: 110px;
  top: 120px;
  background-color: black;
  border-radius: 0.7em;
  width: 80%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
}

.categories {
  display: flex;
  margin-left: 8%;
  margin-top: 5px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.container {
  display: flex;
  gap: 15%;
  margin-left: 15%;
  margin-top: 5%;
  width: 70vw;
  height: 50vh;
}

.feedBanner {
  top: 5px;
  display: flex;
  justify-content: space-between;
}

.feedContainer {
  padding: 5px;
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.addUser {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.addTokens {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.noUser {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.noAccount {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.balance {
  background-color: rgb(176, 176, 239);
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.userDisplay {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.utilities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post {
  display: flex;
  margin-left: 10px;
  margin-top: 50px;
  flex-direction: column;
  background-color: rgb(219, 219, 219);
}

.postContentVotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.postContent {
  display: flex;
  flex-direction: column;
}

.votesArrow {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

}