.page {
  width: 100vw;
  height: 100vh;
  background: rgb(218, 224, 230)
}

.topBanner {
  /* border: 4px solid red; */
  position: sticky;
  display: flex;
  top: 0;
  align-items: center;
  width: 100%;
  height: 7vh;
  z-index: 3;
  background-color: white;
  justify-content: space-between;
}

.twoColumns {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 2px solid blue;
}

.secondColumn {
  grid-column: 2 / span 2;
  border: 2px solid green;
}

.connect {
  padding: 10px;
  /* border: 2px solid green; */
}

.polyLogo {
  padding: 10px;
  color: rgb(28, 28, 28);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: x-large;
  font-family: 'Comic Neue', cursive;
  z-index: 5;
}

.selectionContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: calc(100vw / 2.7);
  margin-top: 100px;
  justify-content: center;
  height: 60vh;
  width: 25vw;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 2em;
}

.categories {
  display: flex;
  margin-left: 8%;
  margin-top: 5px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.container {
  display: flex;
  gap: 15%;
  margin-left: 15%;
  margin-top: 5%;
  width: 70vw;
  height: 50vh;
}

.feedBanner {
  top: 5px;
  display: flex;
  justify-content: space-between;
}

.feedContainer {
  padding: 5px;
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.addUser {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.addTokens {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.noUser {
  font-family: 'Comic Neue', cursive;
  font-size: large;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.noAccount {
  font-family: 'Comic Neue', cursive;
  font-size: large;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.exp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Comic Neue', cursive;
  font-size: large;
  gap: 20px;
}

.stakeFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.balance {
  background-color: rgb(176, 176, 239);
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.userDisplay {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(28, 28, 28);
  font-family: 'Comic Neue', cursive;
  font-size: large;
}

.utilities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.post {
  display: flex;
  margin-left: 10px;
  margin-top: 50px;
  flex-direction: column;
  background-color: rgb(219, 219, 219);
}

.contentVotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  align-content: center;
}

.postContent {
  display: flex;
  flex-direction: column;
}

.votesArrow {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.accountInfo {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  align-items: center;
}

.votes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.worldcoin {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}